.col-sm-8, .col-sm-2 {
	padding-right: 0px;
    padding-left: 0px;
}

/*настройка для экранов md*/
@media (max-width: 1199px) {
	.nav>li>a {
		padding: 5px 3px;
	}
	.meny {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.ikon {		
		padding-top: 10px;
		padding-bottom: 10px;
	}		
}

/*настройка для экранов sm*/
@media (max-width: 991px) {
	.nav>li>a {
		padding: 6px 4px;
	}
	.meny {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.ikon {		
		padding-top: 10px;
		padding-bottom: 10px;
	}	
	
	.logo {		
		max-width: 93%;
	}
}

/*настройка для экранов xs*/
@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
		display: contents;
	}
	
	.meny {
		padding: 5px 0px;		
	}
	
	.ikon {
		padding: 69px 0px;		
	}		
}
